.pokemon_header{
    margin-bottom:10px;
}.logo{
    width: 134.34px;
    height:47.27px;
}.my-pokemon{
    width: 50px;
    height: 50px;
}
@media screen and (width: 320px) {
    .logo{
        width: 120.34px;
        height:50.27px;
    }
    .my-pokemon{
        width: 40px;
        height: 40px;
    }
}
