#root{
    overflow-x:hidden;
}
.pokemon_header{
    margin-bottom:10px;
}
.card_content{
//   width: 50%;
    text-align: center;
}.pokemon_name{
    font-weight: 700;
    margin-top: 16px;
    text-transform: capitalize;
    width: -webkit-fill-available;
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}.pokemon_img{
    height:160px;
}
.card_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    transform: matrix(1,0,0,1,0,0);
    max-width: 100%;
    overflow: hidden;
    margin-bottom:50px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 3px rgba(0,0,0,0.20);
    margin: 10px;
    
}.gutter-row{
    
}#pokemon_card{
    all: unset;
    cursor: pointer;
}.row_poke_list{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}.release_button{
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    border: 0;
    border-radius: 10px;
    margin: 16px;
    padding: 16px;
    font-weight: 700;
    background-color: #ffcb05;
    box-shadow: 0 1px 6px 0 rgb(49 53 59 / 12%);
    transform: matrix(1,0,0,1,0,0);
}.release_button:hover{
    color: black;
}.my_poke_image{
    width: 100%;
}.edit_container{
   
    border-radius: 30px;
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    background: #b4002d;
    color: #fff;
}.my_pokemon_name{
    text-align: center;
    text-transform: capitalize;
    border-radius:10px;
    clear: right;
    width: 80%;
    min-height: 32px;
    margin: 0;
    padding: 0;

}.my_poke_name{
    border: 0;
    font-size: 2rem;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: -1rem;
    padding: 16px;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 0 1px 6px 0 rgb(49 53 59 / 12%);
}.form_handler{
    display: inline;
}