
.moves_name{
    display: inline!important;
}.circle{
    display: inline-block!important;
    text-transform: capitalize;
    font-weight: 700;
    padding: 5px;
    margin-right: 5px;
    border-radius: 2rem;
    box-shadow: 0 1px 6px 0 rgb(49 53 59 / 12%);
    background-color: #bdbdbd;
    color: #fff;
}.detail_pokemon_card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}.imgwrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px;
}.title_bar{
    margin-right: 10px;
    
}.progress_bar{
    text-align: center;
    font-size: 100%;
    font-weight: 400;
}.progress{
    width: 100%;
    display: flex;
    height: 1.5rem;
    overflow: hidden;
    font-size: 1rem;
    background-color: #e9ecef;
    border-radius: .25rem;
}.pokemon_image{
    height: 200px;
   
}.pokemon_detail_name{
    cursor: default;
    text-align: center;
    border: 0;
    font-size: 2rem;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: -1rem;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 0 1px 6px 0 rgb(49 53 59 / 12%);
}.pokemon_type_wrap{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}.stat_wrapper{
    padding: 5px;
}.thecol{
    flex: 0 0 100%;
    max-width: 100%;
}.progres_wrapper{
    width:80%;
}.abilities_moves_wrapper{
    padding:16px;
}.name_wrapper{
    display: block!important;
}hr{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}.catch_pokemon{
    position: fixed;
    bottom: -1%;
    left: 45%;
    right: 45%;
    z-index: 998;
    color: #000;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    transition: .25s ease;
}.ball_img{
    height: 15vmin;
}.catch_text{
    color: black;
    text-decoration: none;
    font-size: 1rem;
    margin-top: 6px;
}.detail_button{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border-radius: 10px;
    background-color: #fff;
    
    box-shadow: 0 1px 6px 0 rgb(49 53 59 / 12%);
    transition: .25s ease;
}.poke_foot{
    margin-bottom:150px;
}.ant-modal-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}.failed_image{
   
    width: 100%;
}.success_image{
    width: 100%;
}
.ant-modal-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}.ant-modal-confirm-btns button{
    background-color: black !important;
    border-color : black !important;
}
@media (min-width: 1200px){
.pokemun_detail_layout{
    padding:50px;
}}